.favorites-container {
  width: 100%;
  height: 90vh;
  margin-left: 1rem;
}

.no-faves-message {
  height: 53vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .no-faves-message {
    margin-left: 1rem;
    text-align: center;
  }
}
