.review-card {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  /* border: 1px solid red; */
}
.actual-review {
  margin: 0.5rem;
}
.actual-review img {
  max-height: 75px;
  max-width: 100%;
  border-radius: 50%;
  margin: 0.5rem;
}

.info-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  /* border: 1px solid blue; */
}
.info-holder .info-left {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crud-btns {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
