.review-card {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
}
.actual-review {
  margin: 0.5rem;
}
.user-pic {
  width: 77px;
  height: 77px;
  min-width: 77px;
  border-radius: 50%;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
}
.info-holder .info-left {
  max-width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crud-btns {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
