@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}
.logo-container {
  margin: 1rem;
}
.logo-container img {
  background-size: cover;
}
.search-container: {
  border: 1px solid green;
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-around;

  width: 30vw;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ff385c;
}
.links:hover {
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  color: #ff385c;
}
.nav-link:hover {
  cursor: pointer;
}
.circle-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* margin-top: -5px; */
}
