.things-container {
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid gray; */
  height: 60vh;
}
.top-row {
  margin-left: 3rem;
  margin-top: 2rem;
}
.btm-row {
  display: flex;
  justify-content: space-around;
}
.ttk-row {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.column {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 3rem;
  line-height: 3rem;
}
ion-icon {
  font-size: 28px;
  margin-right: 0.5rem;
}
