.things-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid gray;
  width: 100%;
  height: 50vh;
  margin: 1rem;
}
.top-row {
  margin-left: 3rem;
  margin-top: 2rem;
}
.btm-row {
  display: flex;
  justify-content: space-around;
}
.ttk-row {
  display: flex;
  align-items: center;
  /* padding: 0.25rem; */
}
.column {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 3rem;
  line-height: 3rem;
}
ion-icon {
  font-size: 28px;
  margin-right: 0.5rem;
}
