.listing-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  width: 75%;
}
.top {
  display: flex;
  flex-direction: column;
}
.title {
  height: 5vh;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}
.ratings-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 40vw;
  height: 5vh;
  /* border: 1px solid red; */
}
.ratings-wrapper h5 {
  margin: 0.5rem;
}

/* photo styles */
.images-container {
  height: 60vh;
  width: 78%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 32px;
  /* margin: auto; */
  /* display: none; */
  /* border: 1px solid red; */
}
.left-side {
  width: 60%;
}
.feature-img {
  margin-top: 5px;
  height: 505px;
  width: 650px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  /* border: 1px solid red; */
}
.middle,
.right-side {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.middle img,
.right-side img {
  width: 350px;
  height: 245px;
  margin: 0.5rem;
}
#top-right {
  border-top-right-radius: 32px;
}
#bottom-right {
  border-bottom-right-radius: 32px;
}
/* host info styles */
.host-info {
  margin: 1rem;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
}
.text {
  display: flex;
  flex-direction: column;
  /* margin-left: 1rem; */
  padding: 2rem;
  /* border: 1px solid red; */
}
.pic {
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
.pic-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* border: 1px solid blue; */
  /* width: 100%;
  height: 75px; */
}
.pic-circle img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  /* border: 1px solid red; */
}
.text-row-2 {
  display: flex;
  width: 10vw;
  justify-content: space-between;
}
/* bullets styles */
.bullets {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 40vw;
  margin: 1rem;
}
.first,
.second,
.third {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}
.description {
  margin: 3rem;
  width: 40vw;
}
.amenities {
  margin: 2rem;
  width: 40vw;
  /* height: 35vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  border-top: 1px solid gray;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.offerings {
  /* border: 1px solid red; */
  width: 40vw;
  margin: 3rem;
}
.list-container {
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: 2px solid green; */
  width: 100%;
  margin: 3rem;
}
.left-list,
.right-list {
  display: flex;
  width: 50%;
  flex-direction: column;
  /* border: 1px solid blue; */
}
.amen {
  display: flex;
  align-items: center;
  margin: 0.8rem;
  /* border: 1px solid green; */
}
ion-icon {
  font-size: 28px;
  margin-right: 0.5rem;
}
/* review styles */

.reviews {
  /* height: 80vh; */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.review-title {
  margin: 2rem;
}
.review-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 1rem;
  /* border: 1px solid orange; */
  /* max-height: 45vh; */
}
.split {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
}
.booking-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid blue; */
  width: 100%;
  position: sticky;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  height: 300px;
  width: 400px;
  border: 2px solid gray;
  background-color: white;
}

input {
  height: 60px;
  border-radius: 12px;
}
