.listing-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  width: 85%;
}
.title {
  min-height: 5vh;
  display: flex;
}
#star {
  color: #ff385c;
  size: small;
}
.ratings-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12vw;
  height: 5vh;
}
.ratings-wrapper h5 {
  margin: 0.5rem;
}
.gray {
  display: flex;
  align-items: center;
}
#generic-address {
  margin-left: 1rem;
  text-decoration: underline;
}
/* photo styles */
.images-container {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 32px;
}
.left-side {
  width: 45%;
}
.feature-img {
  margin-top: 5px;
  min-height: 505px;
  max-height: 505px;
  width: 100%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
.middle,
.right-side {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0.5rem;
  margin-bottom: 0.75rem;
}
.middle img,
.right-side img {
  width: 100%;
  min-height: 245px;
  max-height: 245px;
  margin: 0.5rem;
}
#top-right {
  border-top-right-radius: 32px;
}
#bottom-right {
  border-bottom-right-radius: 32px;
}
/* host info styles */
.host-info {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.pic-circle {
  display: flex;
  align-items: center;
  width: 20%;
}
.pic-circle img {
  border-radius: 50%;
  max-height: 75px;
  width: 100%;
  margin-right: 1rem;
}
.text-row-2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
/* bullets styles */
.bullets {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 40vw;
  margin: 1rem;
}
.first,
.second,
.third {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}
.description {
  margin: 3rem;
  width: 40vw;
}
.amenities {
  margin: 2rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  border-top: 1px solid gray;
  flex-wrap: wrap;
}
.offerings {
  width: 40vw;
  margin: 3rem;
}
.list-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin: 3rem;
}
.left-list,
.right-list {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.amen {
  display: flex;
  align-items: center;
  margin: 0.8rem;
}
ion-icon {
  font-size: 28px;
  margin-right: 0.5rem;
}

/* review styles */
.reviews {
  width: 90vw;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.review-title {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-btn {
  border: 1px solid blue;
}
.review-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 1rem;
}
.split {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85vw;
}
.split-left {
  width: 60%;
}
.split-right {
  width: 40%;
  display: flex;
  justify-content: center;
}
.booking-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 55vh;
  position: sticky;
  margin-top: 1rem;
  position: sticky;
}
.pricing-info {
  display: flex;
  height: 5vh;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem;
}
.pricing-info h3 {
  font-size: 24px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  height: 250px;
  width: 450px;
  border: 2px solid lightgray;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}
.box-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x {
  width: 55%;
  display: flex;
  align-items: center;
}
.x p {
  text-decoration: underline;
  text-align: center;
  font-size: 19px;
}
.booking-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 1rem; */
  padding-left: 10px;
  width: 100%;
  border: 1px solid red;
}
.date-picker {
  height: 60px;
  border-radius: 12px;
  width: 85%;
  border: 1px solid lightgray;
}
.booking-btn {
  width: 370px;
  font-size: 20px;
}
.map-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
}
.map-title {
  display: flex;
  margin-right: 55rem;
  height: 75px;
  width: 300px;
}
