.splash-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wander-2d5ff.appspot.com/o/splash3.jpeg?alt=media&token=59324fad-01b5-470b-bbb8-04429d2872fd");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
