@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  margin-top: 2rem;
}

.home-logo-container img {
  margin-top: 1rem;
  background-size: cover;
}
.home-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  width: 20vw;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ff385c;
}
.home-links:hover {
  cursor: pointer;
}
.home-nav-link {
  text-decoration: none;
  color: #ff385c;
}
.home-nav-link:hover {
  cursor: pointer;
}

@media (max-width: 375px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 80vw;
  }
  .home-logo-container {
    width: 25vw;
    display: none;
  }

  .home-links .home-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 1rem;
  }
  .home-nav-link {
    height: 100%;
  }
}

@media (max-width: 770px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;
  }
  .home-logo-container {
    width: 25vw;
    /* display: none; */
  }

  .home-links .home-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
  }
  .home-nav-link {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 90vw;
  }

  .home-logo-container .nav-link img {
    width: 25vw;
    height: 80%;
    margin-left: -3rem;
  }
  .home-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
  }
  .home-links .home-nav-link h4 {
    font-size: 18px;
    min-width: 100px;
  }
}
