@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin: 2rem;
  color: white;
}
.logo-container {
  /* border: 1px solid red; */
  margin: 1rem;
}
.logo-container img {
  margin-top: 1rem;
  background-size: cover;
  /* border: 1px solid red; */
}
.links {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid gold; */
  margin: 1rem;
  width: 30vw;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ff385c;
}
.links:hover {
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  color: #ff385c;
}
.nav-link:hover {
  cursor: pointer;
}
