.property-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  width: 55vw;
  margin: 2rem;
  border-bottom: 1px solid #dfe0e1;
  border-top: 1px solid #dfe0e1;
}

.property-btn {
  background-color: #ff385c;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wander-2d5ff.appspot.com/o/campers.jpeg?alt=media&token=1b8ed736-4a9a-4d42-853a-ecebd260cf5c");
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 32px;
  border: 2px solid white;
}
.property-btn:hover {
  cursor: pointer;
}
.middle {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  margin: 0.5rem;
}
.middle h3 {
  margin-bottom: -0.5px;
}
.middle p {
  margin: 0.25rem;
  color: gray;
}

.line {
  height: 2px;
  width: 75px;
  background-color: #dfe0e1;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 300px;
  align-items: flex-end;
  color: black;
  margin: 0.25rem;
}
