@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.properties-display {
  margin-left: -2rem;
}
.property-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
  border-bottom: 1px solid #dfe0e1;
  border-top: 1px solid #dfe0e1;
  background-color: white;
  padding: 1rem;
  margin-left: 2rem;
  min-height: 300px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  position: relative;
}
.image-container {
  width: 55%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overhead-title {
  display: none;
}
.overhead-title-mobile {
  visibility: visible;
}
.image-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.cowabunga {
  height: 100%;
  background-color: lightgray;
  width: 100%;
}
.property-card img {
  min-height: 250px;
  max-height: 300px;
  height: 100%;
  border-radius: 12px;
  border: 1px solid lightgray;
}
.property-card img:hover {
  cursor: pointer;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 30vw;
  min-height: 250px;
  height: 50%;
  margin: 1rem;
}

.toggle-icons {
  font-size: 16px;
  color: #ff385c;
  width: 100%;
  text-align: left;
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
#fave-me {
  font-size: 16px;
}
.toggle-icons:hover {
  cursor: pointer;
}
.right .top-row {
  margin-top: -0.25rem;
}
.right p {
  margin: 0.25rem;
  color: gray;
}

.line {
  height: 2px;
  width: 75px;
  background-color: #dfe0e1;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.right .top-row {
  margin-left: 0rem;
}
.middle-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}
.feature-row {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.price-row {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}
.review-part {
  display: flex;
  align-items: center;
  width: 70%;
  font-size: 14px;
}
#star {
  margin-bottom: 0.25rem;
  font-size: 16px;
}
@media (max-width: 550px) {
  .right {
    display: none;
  }
  .property-card {
    height: auto;
  }
  .image-container {
    width: 100%;
  }
  .image-holder {
    width: 90%;
  }
  .property-card img {
    width: 100%;
    min-width: 20px;
    max-height: 250px;
  }
  #fave-me {
    display: none;
  }
  .toggle-icons {
    display: none;
  }
}
@media (max-width: 770px) {
  .property-card {
  }
  .right {
    height: 50%;
    min-width: 300px;
  }
}
@media (max-width: 1024px) {
  .property-card {
  }
  .right {
    height: 50%;
  }

  .cowabunga {
    height: 100%;
    background-color: lightgray;
    max-width: 90%;
  }
}
