@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.properties-display {
  margin-bottom: 2rem;
}
.property-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
  border-bottom: 1px solid #dfe0e1;
  border-top: 1px solid #dfe0e1;
  background-color: white;
  padding: 1rem;
  margin-left: 2rem;
  min-height: 300px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 50%;
  margin: 0.5rem;
}
.property-card img {
  background-color: lightgray;
  width: 100%;
  min-width: 350px;
  max-width: 350px;
  height: 100%;
  border-radius: 12px;
  border: 1px solid lightgray;
}
.property-card:hover {
  cursor: pointer;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  min-height: 250px;
  margin: 1rem;
  position: relative;
}
#fave-me {
  font-size: 18px;
  color: #ff385c;
  position: absolute;
  left: 285px;
  top: -25px;
}
.right .top-row {
  margin-top: -0.25rem;
}
.right p {
  margin: 0.25rem;
  color: gray;
}

.line {
  height: 2px;
  width: 75px;
  background-color: #dfe0e1;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.right .top-row {
  margin-left: 0rem;
}
.middle-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}
.feature-row {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.price-row {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  position: absolute;
  top: 225px;
}
.review-part {
  display: flex;
  align-items: center;
  width: 70%;
}
#star {
  margin-bottom: 0.25rem;
}
