.overall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* width: 100vw; */
  /* border: 1px solid red; */
}
.try-hosting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wander-2d5ff.appspot.com/o/host.jpeg?alt=media&token=bed2af83-1dbd-4c09-b250-66aa6e85474f");
  height: 40vh;
  border-radius: 32px;
  width: 90vw;
  margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  margin: 4rem;
}
.left h1 {
  font-size: 42px;
  margin-bottom: -3px;
}
.left p {
  font-size: 20px;
  /* border: 1px solid red; */
  width: 60%;
}
.left button {
  height: 50px;
  width: 200px;
  border-radius: 32px;
  font-size: 20px;
  padding: 0;
  background-color: #ff385c;
  border: 1px solid transparent;
  color: white;
}
