@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.overall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.try-hosting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wander-2d5ff.appspot.com/o/host.jpeg?alt=media&token=bed2af83-1dbd-4c09-b250-66aa6e85474f");
  min-height: 40vh;
  border-radius: 32px;
  width: 90vw;
  margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  margin: 4rem;
}
.left h1 {
  font-size: 42px;
  margin-bottom: -3px;
  margin: 0.5rem;
}
.left p {
  font-size: 20px;
  margin: 1rem;
  width: 75%;
}
.left button {
  height: 50px;
  width: 200px;
  border-radius: 12px;
  font-size: 20px;
  padding: 0;
  background-color: #ff385c;
  border: 1px solid transparent;
  color: white;
  margin: 1rem;
}
.left button:hover {
  cursor: pointer;
  border: 2px solid white;
  background-color: #f5103a;
}

@media (max-width: 375px) {
  .overall {
    display: flex;
    flex-direction: column;
    max-height: 30vh;
  }
  .try-hosting-container {
    border: 1px solid blue;
    height: 25vh;
    max-width: ;
  }
  .left .call-to-action {
    font-size: 20px;
    margin-bottom: -3px;
    margin: 0.5rem;
    border: 1px solid green;
  }
  .left .dangit {
    font-size: 10px;
    margin: 1rem;
    width: 90%;
    border: 1px solid red;
  }
  .left button {
    height: 50px;
    width: 125px;
    border-radius: 12px;
    font-size: 12px;
    margin: 1rem;
  }
}
@media (max-width: 770px) {
  .overall {
    height: 50vh;
    height: 80vh;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
  }
  .try-hosting-container {
    width: 50%;
    max-width: 90%;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    /* border: 1px solid orange; */
    /* margin: 4rem; */
  }
  .left h1 {
    font-size: 18px;
    margin-bottom: -3px;
    margin: 1rem;
  }
  .left p {
    font-size: 14px;
    margin: 1rem;
    width: 60%;
  }
  .left button {
    height: 55px;
    width: 150px;
    border-radius: 12px;
    font-size: 14px;
    margin: 1rem;
  }
}
@media (max-width: 1024px) {
  .overall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 50vh;
  }
  .try-hosting-container {
    margin-left: 2rem;
    width: 95%;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    margin: 4rem;
  }
  .left h1 {
    font-size: 36px;
    margin-bottom: -3px;
    margin: 0.5rem;
  }
  .left p {
    font-size: 24px;
    margin: 1rem;
    width: 60%;
  }
  .left button {
    height: 65px;
    width: 200px;
    border-radius: 12px;
    font-size: 18px;
    padding: 0;
    background-color: #ff385c;
    border: 1px solid transparent;
    color: white;
    margin: 1rem;
  }
}
