@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.search-bar {
  position: relative;
}
.search-bar input {
  height: 55px;
  width: 650px;
  border-radius: 32px;
  margin-bottom: 650px;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 18px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  padding-left: 20px;
}
.search-btn {
  background-color: #ff385c;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 0.5rem;
  border: 2px solid transparent;
  position: absolute;
  z-index: 1;
  right: -20px;
  top: -25px;
}
.search-btn:hover {
  cursor: pointer;
  background-color: #f5103a;
}
