@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.search-bar {
  position: relative;
}
.search-bar input {
  height: 55px;
  width: 350px;
  border-radius: 32px;
  margin-bottom: 650px;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 18px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.search-bar input {
  padding-left: 30px;
}
.search-btn {
  background-color: #ff385c;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 0.5rem;
  border: 2px solid transparent;
  position: absolute;
  z-index: 1;
  right: -20px;
  top: -25px;
}
.search-btn:hover {
  cursor: pointer;
  background-color: #f5103a;
}

@media (max-width: 375px) {
  .search-bar {
    margin-bottom: 10px;
  }
  .search-bar input {
    height: 30px;
    width: 200px;
    margin-bottom: 250px;
    padding: 0.5rem;
    font-size: 12px;
  }

  .search-btn {
    height: 30px;
    width: 30px;
    padding: 0.25rem;
    position: absolute;
    z-index: 1;
    right: -20px;
    top: -25px;
    /* border: 3px solid red; */
  }
}
@media (max-width: 768px) {
  .search-bar input {
    height: 30px;
    width: 250px;
    border-radius: 32px;
    margin-bottom: 200px;
    font-size: 10px;
  }

  .search-btn {
    height: 25px;
    width: 25px;
    padding: 0.5rem;
    right: -20px;
    top: -20px;
  }
}
@media (max-width: 1024px) {
  .search-bar input {
    height: 55px;
    width: 325px;
    border-radius: 32px;
    margin-bottom: 675px;
    font-size: 20px;
  }

  .search-btn {
    height: 50px;
    width: 50px;
    padding: 0.5rem;
    right: -20px;
    top: -20px;
  }
}
