.confirm-modal {
  width: 70%;
  height: 55%;
}
.confirm-close-x {
  text-align: right;
  margin-right: 20px;
}
.confirm-details {
  display: flex;
  margin: 0.5rem;
}
.confirm-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}
.confirm-image-container {
  width: 50%;
}
#pic {
  width: 90%;
  border-radius: 12px;
  border: 1px solid lightgray;
}
.confirm-hard-details {
  display: flex;
  align-items: flex-start;
}
.confirm-left-hd {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  padding: 0.5rem;
  margin-top: 1rem;
  justify-content: space-evenly;
}
.confirm-right-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 0.5rem;
  width: 40%;
}

.confirm-email-message {
  width: 90%;
  height: 45%;
  padding: 0.5rem;
  margin-left: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.confirm-whole-thing {
  margin-top: -1.5rem;
}
