.map-wrapper {
  height: 100vh;
  width: 100%;
}

.mapContainer {
  width: 100%;
  height: 100vh;
}
@media (max-width: 770px) {
  .map-wrapper {
    height: 50vh;
    /* margin-bottom: 20px; */
  }
}
@media (max-width: 375px) {
  .map-wrapper {
    height: 50vh;
    /* margin-bottom: 20px; */
  }
}
