@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.nav-search-bar {
  position: relative;
  margin-left: 20rem;
  /* border: 1px solid red; */
}
.nav-search-bar input {
  height: 40px;
  width: 250px;
  border-radius: 32px;
  border: 1px solid lightgray;
  padding: 0.5rem;
  font-size: 16px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.nav-search-bar input {
  padding-left: 30px;
}
.nav-search-btn {
  background-color: #ff385c;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border: 2px solid transparent;
  position: absolute;
  z-index: 1;
  right: 300px;
  top: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-search-btn:hover {
  cursor: pointer;
  background-color: #f5103a;
}
.search-icon {
  font-size: small;
}
@media (max-width: 325px) {
  .nav-search-bar {
    display: none;
  }
}
@media (max-width: 770px) {
  .nav-search-bar {
    display: none;
  }
}
@media (max-width: 1024px) {
  .nav-search-bar {
    display: none;
  }
}
@media (max-width: 1400px) {
  .nav-search-bar {
    display: none;
  }
}
