.container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.map-title {
  display: flex;
  margin: 3rem;
}
.map-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
